/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 44, ../scss/_default.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 48, ../scss/_default.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 56, ../scss/_default.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 68, ../scss/_default.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 73, ../scss/_default.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 82, ../scss/_default.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 95, ../scss/_default.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 103, ../scss/_default.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 113, ../scss/_default.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 123, ../scss/_default.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 29, ../scss/screen.scss */
*, h3, h4, h5 {
  font-weight: 200;
}

/* line 31, ../scss/screen.scss */
h1 {
  display: block;
  float: left;
  clear: both;
  padding-left: 3.90625%;
  margin-top: 45px;
  text-indent: -9999px;
}
@media only screen and (min-width: 700px) {
  /* line 31, ../scss/screen.scss */
  h1 {
    margin-bottom: 145px;
  }
}
@media only screen and (max-width: 700px) {
  /* line 31, ../scss/screen.scss */
  h1 {
    margin-bottom: 115px;
  }
}
/* line 41, ../scss/screen.scss */
h1 a {
  display: block;
  height: 22px;
  width: 132px;
  background: url("../img/word-mark.png") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 41, ../scss/screen.scss */
  h1 a {
    background-image: url("/img/word-mark2x.png");
    background-size: 132px 22px;
  }
}

/* line 50, ../scss/screen.scss */
h2 {
  margin-top: 0;
  font-family: "freight-display-pro", serif;
  font-weight: 300;
  letter-spacing: 1px;
}
@media only screen and (min-width: 700px) {
  /* line 50, ../scss/screen.scss */
  h2 {
    font-size: 2.125em;
  }
}
@media only screen and (max-width: 700px) {
  /* line 50, ../scss/screen.scss */
  h2 {
    font-size: 2.125em;
  }
}
/* line 59, ../scss/screen.scss */
.motto h2 {
  margin-bottom: 145px;
  color: #fff;
}
/* line 64, ../scss/screen.scss */
.brag h2 {
  margin-bottom: 45px;
  color: #fff;
}
/* line 69, ../scss/screen.scss */
.demo-reel h2 {
  margin-bottom: 40px;
  color: #191919;
}
@media only screen and (min-width: 700px) {
  /* line 74, ../scss/screen.scss */
  .what-we-do h2 {
    float: right;
    width: 56.25%;
  }
}
/* line 82, ../scss/screen.scss */
.our-process h2 {
  margin-bottom: 80px;
}
@media only screen and (min-width: 700px) {
  /* line 82, ../scss/screen.scss */
  .our-process h2 {
    margin-right: 17.1875%;
    margin-left: 17.1875%;
  }
}

/* line 94, ../scss/screen.scss */
h3 {
  margin: 50px auto;
  text-indent: -9999px;
}

/* line 96, ../scss/screen.scss */
#validation h3 {
  margin-top: 150px;
  margin-bottom: 50px;
  width: 186px;
  height: 52px;
  background: url("/img/eurika-logo.png") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 96, ../scss/screen.scss */
  #validation h3 {
    background-image: url("/img/eurika-logo2x.png");
    background-size: 186px 52px;
  }
}

/* line 105, ../scss/screen.scss */
#valuation h3 {
  margin-top: 100px;
  margin-bottom: 31px;
  width: 170px;
  height: 50px;
  background: url("/img/bazinga-logo.png") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 105, ../scss/screen.scss */
  #valuation h3 {
    background-image: url("/img/bazinga-logo2x.png");
    background-size: 170px 50px;
  }
}

/* line 114, ../scss/screen.scss */
#traction h3 {
  margin-top: 130px;
  margin-bottom: 56px;
  width: 222px;
  height: 48px;
  background: url("/img/mojeh-logo.png") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 114, ../scss/screen.scss */
  #traction h3 {
    background-image: url("/img/mojeh-logo2x.png");
    background-size: 222px 48px;
  }
}

/* line 123, ../scss/screen.scss */
#scaling h3 {
  margin-top: 160px;
  margin-bottom: 50px;
  width: 248px;
  height: 34px;
  background: url("/img/avigilon-logo.png") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 123, ../scss/screen.scss */
  #scaling h3 {
    background-image: url("/img/avigilon-logo2x.png");
    background-size: 248px 34px;
  }
}

/* line 132, ../scss/screen.scss */
#innovation h3 {
  margin-top: 100px;
  margin-bottom: 45px;
  width: 275px;
  height: 39px;
  background: url("/img/mclaren-logo.png") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 132, ../scss/screen.scss */
  #innovation h3 {
    background-image: url("/img/mclaren-logo2x.png");
    background-size: 275px 39px;
  }
}

/* line 143, ../scss/screen.scss */
h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-family: "freight-display-pro", serif;
  font-size: 1.875em;
  letter-spacing: 1px;
}
/* line 151, ../scss/screen.scss */
h4 .underline {
  display: block;
  width: 60px;
  height: 1px;
  margin: 0 auto;
  background-color: #fff;
}
/* line 159, ../scss/screen.scss */
#innovation h4 {
  color: #000;
}
/* line 162, ../scss/screen.scss */
#innovation h4 .underline {
  background-color: #000;
}

/* Global */
/* line 174, ../scss/screen.scss */
.slide, .brag, .demo-reel, .what-we-do, .our-process {
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
}

/* line 181, ../scss/screen.scss */
.slide-contents {
  overflow: hidden;
  max-width: 1280px;
  padding: 60px 3.90625%;
  margin: 0 auto;
}
/* line 187, ../scss/screen.scss */
.slide-contents p {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.666666667;
}

@media only screen and (min-width: 700px) {
  /* line 196, ../scss/screen.scss */
  .slide-contents p {
    padding-right: 10%;
    padding-left: 10%;
  }
}
@media only screen and (min-width: 1100px) {
  /* line 204, ../scss/screen.scss */
  .slide-contents p {
    padding-right: 30.078125%;
    padding-left: 30.078125%;
  }
}
/* line 210, ../scss/screen.scss */
.caption {
  margin-bottom: 30px;
  color: #e8e8e8;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75em;
  width: 100%;
}

/* line 219, ../scss/screen.scss */
.cta-button {
  display: inline-block;
  padding: 15px 30px 13px;
  border: 2px solid #fff;
  color: #fff;
  font-family: "freight-text-pro", serif;
  text-decoration: none;
}
@media only screen and (max-width: 700px) {
  /* line 219, ../scss/screen.scss */
  .cta-button {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 700px) {
  /* line 219, ../scss/screen.scss */
  .cta-button {
    margin-bottom: 90px;
  }
}

@media only screen and (max-width: 700px) {
  /* line 232, ../scss/screen.scss */
  .parallax-background {
    background-size: cover;
    height: 100%;
    background-position: left bottom !important;
  }
}

/* line 244, ../scss/screen.scss */
.hero-bg {
  background-image: url("../img/mclaren-tech-centre.jpg");
}
@media only screen and (max-width: 700px) {
  /* line 244, ../scss/screen.scss */
  .hero-bg {
    background-position: center center !important;
  }
}

/* line 250, ../scss/screen.scss */
.motto {
  float: left;
}

/* line 254, ../scss/screen.scss */
.logo {
  margin-bottom: 45px;
}

/* line 258, ../scss/screen.scss */
header .caption {
  float: left;
}

@media only screen and (min-width: 700px) {
  /* line 264, ../scss/screen.scss */
  .motto.slide-contents {
    width: 71.296%;
    margin: 0 9% 0 20.703125%;
    padding: 0;
  }
}
@media only screen and (max-width: 700px) {
  /* line 273, ../scss/screen.scss */
  .motto {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* line 277, ../scss/screen.scss */
  .motto img {
    display: none;
  }

  /* line 278, ../scss/screen.scss */
  .motto h2 {
    margin-bottom: 120px;
  }
}
/* line 283, ../scss/screen.scss */
.brag {
  color: #a33e1d;
  text-align: center;
  background-color: #ff6633;
}

@media only screen and (min-width: 700px) {
  /* line 292, ../scss/screen.scss */
  .slide-contents {
    margin-top: 165px;
    margin-bottom: 90px;
  }

  /* line 297, ../scss/screen.scss */
  .brag p {
    margin-top: 0;
    margin-bottom: 70px;
  }
}
/* line 309, ../scss/screen.scss */
.client-list {
  padding: 0;
  list-style: none;
}

/* line 314, ../scss/screen.scss */
.client-list li {
  margin: 40px 0;
}
@media only screen and (min-width: 700px) {
  /* line 314, ../scss/screen.scss */
  .client-list li {
    display: inline;
    margin: 0 0 0 80px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 314, ../scss/screen.scss */
  .client-list li {
    margin: 0 0 0 100px;
  }
}

/* line 328, ../scss/screen.scss */
.client-list li:first-child {
  margin-left: 0;
}

/* line 335, ../scss/screen.scss */
.demo-reel {
  background-color: #fff;
  text-align: center;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 342, ../scss/screen.scss */
.demo-reel p {
  color: #a3a3a3;
}
@media only screen and (min-width: 700px) {
  /* line 344, ../scss/screen.scss */
  .demo-reel .slide-contents {
    margin-top: 225px;
    margin-bottom: 225px;
  }
}

/* line 353, ../scss/screen.scss */
.play-button {
  display: block;
  margin: 0 auto 60px;
  text-indent: -9999px;
  width: 38px;
  height: 47px;
  background: url("/img/play-button.png") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 353, ../scss/screen.scss */
  .play-button {
    background-image: url("/img/play-button2x.png");
    background-size: 38px 47px;
  }
}
@media only screen and (min-width: 700px) {
  /* line 353, ../scss/screen.scss */
  .play-button {
    opacity: 0;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
  }
}

/* line 371, ../scss/screen.scss */
.player {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 381, ../scss/screen.scss */
.what-we-do {
  color: #fff;
  text-align: right;
}
@media only screen and (max-width: 700px) {
  /* line 395, ../scss/screen.scss */
  .what-we-do .slide-contents {
    padding-bottom: 0px;
  }
}
/* line 400, ../scss/screen.scss */
.what-we-do .solve-challenges-bg {
  background-image: url("../img/what-we-do-bg.png");
}
/* line 405, ../scss/screen.scss */
.what-we-do p {
  float: right;
  clear: both;
  padding: 0;
  margin: 0;
  margin-bottom: 225px;
  max-width: 390px;
}
/* line 414, ../scss/screen.scss */
.what-we-do .caption {
  float: right;
}

/* line 427, ../scss/screen.scss */
.our-process {
  color: #000;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  /* line 433, ../scss/screen.scss */
  .our-process .slide-contents {
    margin-top: 240px;
    margin-bottom: 135px;
  }
}

/* line 441, ../scss/screen.scss */
.process-outline {
  padding: 0;
  margin-bottom: 60px;
  color: #aaa;
  list-style: none;
  text-align: center;
}
/* line 448, ../scss/screen.scss */
.process-outline li {
  width: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ccc;
  margin: 0 auto;
}
@media only screen and (min-width: 600px) {
  /* line 448, ../scss/screen.scss */
  .process-outline li {
    width: auto;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 0;
    border-left: 1px solid #ccc;
  }
}
@media only screen and (min-width: 700px) {
  /* line 448, ../scss/screen.scss */
  .process-outline li {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 448, ../scss/screen.scss */
  .process-outline li {
    padding-left: 60px;
    padding-right: 60px;
  }
}
/* line 474, ../scss/screen.scss */
.process-outline li:first-child {
  border: none;
}

/* line 484, ../scss/screen.scss */
.challenge, #validation, #valuation, #traction, #scaling, #innovation {
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
}
/* line 491, ../scss/screen.scss */
.challenge .challenge-contents, #validation .challenge-contents, #valuation .challenge-contents, #traction .challenge-contents, #scaling .challenge-contents, #innovation .challenge-contents {
  overflow: hidden;
  max-width: 1280px;
  padding: 60px 3.90625%;
  margin: 0 auto;
}
@media only screen and (min-width: 700px) {
  /* line 491, ../scss/screen.scss */
  .challenge .challenge-contents, #validation .challenge-contents, #valuation .challenge-contents, #traction .challenge-contents, #scaling .challenge-contents, #innovation .challenge-contents {
    padding: 0;
  }
}
/* line 502, ../scss/screen.scss */
.challenge p, #validation p, #valuation p, #traction p, #scaling p, #innovation p {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.666666667;
}
/* line 508, ../scss/screen.scss */
.challenge a, #validation a, #valuation a, #traction a, #scaling a, #innovation a {
  color: inherit;
  text-decoration: underline;
}

@media only screen and (min-width: 700px) {
  /* line 517, ../scss/screen.scss */
  .challenge-contents p {
    padding-right: 33.59375%;
    padding-left: 33.59375%;
  }
}
/* line 524, ../scss/screen.scss */
#validation {
  color: #c4ffee;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  /* line 524, ../scss/screen.scss */
  #validation {
    padding-top: 140px;
    padding-bottom: 330px;
  }
}

/* line 535, ../scss/screen.scss */
.validation-bg {
  background-image: url("../img/validation-large.png");
}
@media only screen and (max-width: 700px) {
  /* line 535, ../scss/screen.scss */
  .validation-bg {
    background-position: 70% top !important;
  }
}

/* line 541, ../scss/screen.scss */
#valuation {
  color: #c1e7ff;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  /* line 541, ../scss/screen.scss */
  #valuation {
    padding-top: 171px;
    padding-bottom: 360px;
  }
}

/* line 552, ../scss/screen.scss */
.valuation-bg {
  background-image: url("../img/valuation.png");
}

/* line 558, ../scss/screen.scss */
#traction {
  color: #ddd;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  /* line 558, ../scss/screen.scss */
  #traction {
    padding-top: 135px;
    padding-bottom: 240px;
  }
}

/* line 568, ../scss/screen.scss */
.traction-bg {
  background-image: url("../img/traction.png");
}

/* line 574, ../scss/screen.scss */
#scaling {
  color: #fff;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  /* line 574, ../scss/screen.scss */
  #scaling {
    padding-top: 140px;
    padding-bottom: 210px;
  }
}

/* line 584, ../scss/screen.scss */
.scaling-bg {
  background-image: url("../img/scaling.jpg");
}
@media only screen and (max-width: 700px) {
  /* line 584, ../scss/screen.scss */
  .scaling-bg {
    background-position: center center !important;
  }
}

/* line 591, ../scss/screen.scss */
#innovation {
  color: #000;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  /* line 591, ../scss/screen.scss */
  #innovation {
    padding-top: 130px;
    padding-bottom: 380px;
  }
}

@media only screen and (max-width: 600px) {
  /* line 602, ../scss/screen.scss */
  .innovation-bg {
    background-image: url("../img/innovation-small.jpg");
  }
}
@media only screen and (min-width: 600px) {
  /* line 602, ../scss/screen.scss */
  .innovation-bg {
    background-image: url("../img/innovation.png");
  }
}

/* line 613, ../scss/screen.scss */
.tactic {
  float: left;
  width: 100%;
  padding: 60px 0;
  color: #191919;
  line-height: 1.875;
  background-color: #fff;
}
@media only screen and (min-width: 600px) {
  /* line 613, ../scss/screen.scss */
  .tactic {
    float: left;
    width: 100%;
    padding: 105px 5.59375%;
    color: #191919;
    line-height: 1.875;
    background-color: #fff;
  }
}
@media only screen and (min-width: 800px) {
  /* line 613, ../scss/screen.scss */
  .tactic {
    float: left;
    width: 100%;
    padding: 105px 13.59375%;
    color: #191919;
    line-height: 1.875;
    background-color: #fff;
  }
}
/* line 639, ../scss/screen.scss */
.tactic a {
  text-decoration: underline;
}

/* line 641, ../scss/screen.scss */
.tactic-description {
  margin: 0 auto;
  width: 75%;
}

/* line 642, ../scss/screen.scss */
.client-link {
  display: block;
  margin: 30px auto 0;
  width: 75%;
}

@media only screen and (min-width: 600px) {
  /* line 646, ../scss/screen.scss */
  .tactic-description {
    width: 58.3870968%;
    float: left;
  }

  /* line 650, ../scss/screen.scss */
  .client-link {
    width: 19.3548387%;
    margin-top: 0;
    float: right;
  }
}
@media only screen and (min-width: 800px) {
  /* line 658, ../scss/screen.scss */
  .tactic-description {
    width: 48.3870968%;
  }

  /* line 659, ../scss/screen.scss */
  .client-link {
    width: 19.3548387%;
    margin-top: 0;
  }
}
/* line 666, ../scss/screen.scss */
footer {
  float: left;
  width: 100%;
  padding: 60px 0;
  line-height: 1.875;
  background-color: #222;
}
@media only screen and (min-width: 700px) {
  /* line 666, ../scss/screen.scss */
  footer {
    padding: 115px  13.671875%;
  }
}
/* line 677, ../scss/screen.scss */
footer .cta-button {
  margin-top: 15px;
}

/* line 682, ../scss/screen.scss */
.mission-statement {
  width: 75%;
  margin: 0 auto;
  color: #ccc;
}
@media only screen and (min-width: 700px) {
  /* line 682, ../scss/screen.scss */
  .mission-statement {
    float: left;
    width: 48.3870968%;
    margin: 0;
  }
}

/* line 695, ../scss/screen.scss */
.still-address {
  width: 75%;
  padding: 0;
  margin: 0 auto;
  color: #fff;
  font-size: .875em;
  list-style: none;
}
@media only screen and (min-width: 700px) {
  /* line 695, ../scss/screen.scss */
  .still-address {
    float: right;
    width: 48.3870968%;
    margin: 0;
    margin-top: 15px;
    text-align: right;
  }
}
/* line 711, ../scss/screen.scss */
.still-address .street-adress {
  text-decoration: underline;
}
/* line 713, ../scss/screen.scss */
.still-address p {
  margin: 0;
}
/* line 714, ../scss/screen.scss */
.still-address a {
  color: inherit;
}

/* Parallax Stuff */
/* line 720, ../scss/screen.scss */
.parallax {
  position: relative;
  overflow: hidden;
}

/* line 725, ../scss/screen.scss */
.parallax-bg, .hero-bg, .what-we-do .solve-challenges-bg, .validation-bg, .valuation-bg, .traction-bg, .scaling-bg, .innovation-bg {
  height: 110%;
  width: 100%;
  background-size: cover;
  background-position: top center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
