/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 44, ../scss/_default.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 48, ../scss/_default.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 56, ../scss/_default.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 68, ../scss/_default.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 73, ../scss/_default.scss */
::selection {
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 81, ../scss/_default.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 94, ../scss/_default.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 102, ../scss/_default.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 112, ../scss/_default.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 122, ../scss/_default.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 29, ../scss/screen.scss */
*, h3, h4, h5 {
  font-weight: 200;
}

/* line 31, ../scss/screen.scss */
h1 {
  display: block;
  float: left;
  clear: both;
  padding-left: 3.90625%;
  margin-top: 45px;
  text-indent: -9999px;
}
@media only screen and (min-width: 700px) {
  /* line 31, ../scss/screen.scss */
  h1 {
    margin-bottom: 145px;
  }
}
@media only screen and (max-width: 700px) {
  /* line 31, ../scss/screen.scss */
  h1 {
    margin-bottom: 115px;
  }
}
/* line 41, ../scss/screen.scss */
h1 a {
  display: block;
  height: 22px;
  width: 132px;
  background: url("../img/word-mark.png") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 41, ../scss/screen.scss */
  h1 a {
    background-image: url("/img/word-mark2x.png");
    background-size: 132px 22px;
  }
}

/* line 50, ../scss/screen.scss */
h2 {
  margin-top: 0;
  font-family: "freight-display-pro", serif;
  font-weight: 300;
  letter-spacing: 1px;
}
@media only screen and (min-width: 700px) {
  /* line 50, ../scss/screen.scss */
  h2 {
    font-size: 2.125em;
  }
}
@media only screen and (max-width: 700px) {
  /* line 50, ../scss/screen.scss */
  h2 {
    font-size: 2.125em;
  }
}
/* line 59, ../scss/screen.scss */
.motto h2 {
  margin-bottom: 145px;
  color: #fff;
}
/* line 64, ../scss/screen.scss */
.brag h2 {
  margin-bottom: 45px;
  color: #fff;
}
/* line 69, ../scss/screen.scss */
.demo-reel h2 {
  margin-bottom: 40px;
  color: #191919;
}
@media only screen and (min-width: 700px) {
  /* line 74, ../scss/screen.scss */
  .what-we-do h2 {
    float: right;
    width: 56.25%;
  }
}
/* line 82, ../scss/screen.scss */
.our-process h2 {
  margin-bottom: 80px;
}
@media only screen and (min-width: 700px) {
  /* line 82, ../scss/screen.scss */
  .our-process h2 {
    margin-right: 17.1875%;
    margin-left: 17.1875%;
  }
}

/* line 94, ../scss/screen.scss */
h3 {
  margin: 50px auto;
  text-indent: -9999px;
}

/* line 96, ../scss/screen.scss */
#validation h3 {
  margin-top: 150px;
  margin-bottom: 50px;
  width: 186px;
  height: 52px;
  background: url("/img/eurika-logo.png") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 96, ../scss/screen.scss */
  #validation h3 {
    background-image: url("/img/eurika-logo2x.png");
    background-size: 186px 52px;
  }
}

/* line 105, ../scss/screen.scss */
#valuation h3 {
  margin-top: 100px;
  margin-bottom: 31px;
  width: 170px;
  height: 50px;
  background: url("/img/bazinga-logo.png") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 105, ../scss/screen.scss */
  #valuation h3 {
    background-image: url("/img/bazinga-logo2x.png");
    background-size: 170px 50px;
  }
}

/* line 114, ../scss/screen.scss */
#traction h3 {
  margin-top: 130px;
  margin-bottom: 56px;
  width: 222px;
  height: 48px;
  background: url("/img/mojeh-logo.png") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 114, ../scss/screen.scss */
  #traction h3 {
    background-image: url("/img/mojeh-logo2x.png");
    background-size: 222px 48px;
  }
}

/* line 123, ../scss/screen.scss */
#scaling h3 {
  margin-top: 160px;
  margin-bottom: 50px;
  width: 248px;
  height: 34px;
  background: url("/img/avigilon-logo.png") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 123, ../scss/screen.scss */
  #scaling h3 {
    background-image: url("/img/avigilon-logo2x.png");
    background-size: 248px 34px;
  }
}

/* line 132, ../scss/screen.scss */
#innovation h3 {
  margin-top: 100px;
  margin-bottom: 45px;
  width: 275px;
  height: 39px;
  background: url("/img/mclaren-logo.png") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 132, ../scss/screen.scss */
  #innovation h3 {
    background-image: url("/img/mclaren-logo2x.png");
    background-size: 275px 39px;
  }
}

/* line 143, ../scss/screen.scss */
h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-family: "freight-display-pro", serif;
  font-size: 1.875em;
  letter-spacing: 1px;
}
/* line 151, ../scss/screen.scss */
h4 .underline {
  display: block;
  width: 60px;
  height: 1px;
  margin: 0 auto;
  background-color: #fff;
}
/* line 159, ../scss/screen.scss */
#innovation h4 {
  color: #000;
}
/* line 162, ../scss/screen.scss */
#innovation h4 .underline {
  background-color: #000;
}

/* line 166, ../scss/screen.scss */
a {
  color: #000;
}
/* line 168, ../scss/screen.scss */
a:hover {
  color: #999;
  -moz-transition-property: color, scale, opacity;
  -o-transition-property: color, scale, opacity;
  -webkit-transition-property: color, scale, opacity;
  transition-property: color, scale, opacity;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

/* line 175, ../scss/screen.scss */
::selection {
  background: #000;
  color: #fff;
}

/* Global */
/* line 183, ../scss/screen.scss */
.slide, .brag, .demo-reel, .what-we-do, .our-process {
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
}

/* line 190, ../scss/screen.scss */
.slide-contents {
  overflow: hidden;
  max-width: 1280px;
  padding: 60px 3.90625%;
  margin: 0 auto;
}
/* line 196, ../scss/screen.scss */
.slide-contents p {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.666666667;
}

@media only screen and (min-width: 700px) {
  /* line 205, ../scss/screen.scss */
  .slide-contents p {
    padding-right: 10%;
    padding-left: 10%;
  }
}
@media only screen and (min-width: 1100px) {
  /* line 213, ../scss/screen.scss */
  .slide-contents p {
    padding-right: 30.078125%;
    padding-left: 30.078125%;
  }
}
/* line 219, ../scss/screen.scss */
.caption {
  margin-bottom: 30px;
  color: #e8e8e8;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75em;
  width: 100%;
}

/* line 228, ../scss/screen.scss */
.cta-button {
  display: inline-block;
  padding: 15px 30px 13px;
  border: 2px solid #fff;
  color: #fff;
  font-family: "freight-text-pro", serif;
  text-decoration: none;
}
@media only screen and (max-width: 700px) {
  /* line 228, ../scss/screen.scss */
  .cta-button {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 700px) {
  /* line 228, ../scss/screen.scss */
  .cta-button {
    margin-bottom: 90px;
  }
}
/* line 239, ../scss/screen.scss */
.cta-button:hover {
  background: #fff;
  color: #000;
  border: 2px solid #000;
  -moz-box-shadow: white 0 0 0 2px;
  -webkit-box-shadow: white 0 0 0 2px;
  box-shadow: white 0 0 0 2px;
  margin-left: 0px;
  -moz-transition-property: background, color;
  -o-transition-property: background, color;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

@media only screen and (max-width: 700px) {
  /* line 250, ../scss/screen.scss */
  .parallax-background {
    background-size: cover;
    height: 100%;
    background-position: left bottom !important;
  }
}

/* line 262, ../scss/screen.scss */
.hero-bg {
  background-image: url("../img/mclaren-tech-centre.jpg");
}
@media only screen and (max-width: 700px) {
  /* line 262, ../scss/screen.scss */
  .hero-bg {
    background-position: center center !important;
  }
}

/* line 268, ../scss/screen.scss */
.motto {
  float: left;
}

/* line 272, ../scss/screen.scss */
.logo {
  margin-bottom: 45px;
}

/* line 276, ../scss/screen.scss */
header .caption {
  float: left;
}

@media only screen and (min-width: 700px) {
  /* line 282, ../scss/screen.scss */
  .motto.slide-contents {
    width: 71.296%;
    margin: 0 9% 0 20.703125%;
    padding: 0;
    overflow: visible;
  }
}
@media only screen and (max-width: 700px) {
  /* line 292, ../scss/screen.scss */
  .motto {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* line 296, ../scss/screen.scss */
  .motto img {
    display: none;
  }

  /* line 297, ../scss/screen.scss */
  .motto h2 {
    margin-bottom: 120px;
  }
}
/* line 302, ../scss/screen.scss */
.brag {
  color: #8e371a;
  text-align: center;
  background-color: #ff6633;
}

@media only screen and (min-width: 700px) {
  /* line 311, ../scss/screen.scss */
  .slide-contents {
    margin-top: 165px;
    margin-bottom: 90px;
  }

  /* line 316, ../scss/screen.scss */
  .brag p {
    margin-top: 0;
    margin-bottom: 70px;
  }
}
/* line 328, ../scss/screen.scss */
.client-list {
  padding: 0;
  list-style: none;
}

/* line 333, ../scss/screen.scss */
.client-list li {
  /* Since Moz does not support zoom, we reduce margin to compensate for larger img size from the style below this one */
}
@media only screen and (max-width: 1280px) {
  /* line 333, ../scss/screen.scss */
  .client-list li {
    margin: 40px 0 40px 6%;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 333, ../scss/screen.scss */
  .client-list li {
    margin: 40px 0 40px 8%;
  }
}
@-moz-document url-prefix() {
  /* line 333, ../scss/screen.scss */
  .client-list li {
    margin-left: 0;
  }
}
/* line 342, ../scss/screen.scss */
.client-list li img {
  zoom: 0.5;
  -moz-transform: scale(0.5);
}
@media only screen and (max-width: 700px) {
  /* line 333, ../scss/screen.scss */
  .client-list li {
    display: block;
    margin: 60px auto 60px auto;
  }
}
@media only screen and (min-width: 700px) {
  /* line 333, ../scss/screen.scss */
  .client-list li {
    display: inline;
  }
}

/* line 357, ../scss/screen.scss */
.client-list li:first-child {
  margin-left: 0;
}

/* line 364, ../scss/screen.scss */
.demo-reel {
  background-color: #fff;
  text-align: center;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 371, ../scss/screen.scss */
.demo-reel p {
  color: #a3a3a3;
}
@media only screen and (min-width: 700px) {
  /* line 373, ../scss/screen.scss */
  .demo-reel .slide-contents {
    margin-top: 225px;
    margin-bottom: 225px;
  }
}

/* line 382, ../scss/screen.scss */
.play-button {
  display: block;
  margin: 0 auto;
  padding: 60px;
  text-indent: -9999px;
  width: 38px;
  height: 47px;
  background: url("/img/play-button.png") no-repeat center;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 382, ../scss/screen.scss */
  .play-button {
    background-image: url("/img/play-button2x.png");
    background-size: 38px 47px;
  }
}
@media only screen and (min-width: 700px) {
  /* line 382, ../scss/screen.scss */
  .play-button {
    opacity: 0;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
  }
}
/* line 397, ../scss/screen.scss */
.play-button:hover {
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

/* line 403, ../scss/screen.scss */
.player {
  top: 0;
  left: 0;
  width: 100%;
}
@media only screen and (min-width: 700px) {
  /* line 403, ../scss/screen.scss */
  .player {
    display: none;
    position: absolute;
  }
}

/* line 415, ../scss/screen.scss */
.what-we-do {
  color: #fff;
  text-align: right;
}
@media only screen and (max-width: 700px) {
  /* line 429, ../scss/screen.scss */
  .what-we-do .slide-contents {
    padding-bottom: 0px;
  }
}
/* line 434, ../scss/screen.scss */
.what-we-do .solve-challenges-bg {
  background-image: url("../img/what-we-do-bg.png");
}
/* line 439, ../scss/screen.scss */
.what-we-do p {
  float: right;
  clear: both;
  padding: 0;
  margin: 0;
  margin-bottom: 225px;
  max-width: 390px;
}
/* line 448, ../scss/screen.scss */
.what-we-do .caption {
  float: right;
}

/* line 461, ../scss/screen.scss */
.our-process {
  color: #000;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  /* line 467, ../scss/screen.scss */
  .our-process .slide-contents {
    margin-top: 240px;
    margin-bottom: 135px;
  }
}

/* line 475, ../scss/screen.scss */
.process-outline {
  padding: 0;
  margin-bottom: 60px;
  color: #aaa;
  list-style: none;
  text-align: center;
}
/* line 482, ../scss/screen.scss */
.process-outline li {
  width: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ccc;
  margin: 0 auto;
}
@media only screen and (min-width: 600px) {
  /* line 482, ../scss/screen.scss */
  .process-outline li {
    width: auto;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 0;
    border-left: 1px solid #ccc;
  }
}
@media only screen and (min-width: 700px) {
  /* line 482, ../scss/screen.scss */
  .process-outline li {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 482, ../scss/screen.scss */
  .process-outline li {
    padding-left: 60px;
    padding-right: 60px;
  }
}
/* line 508, ../scss/screen.scss */
.process-outline li:first-child {
  border: none;
}

/* line 518, ../scss/screen.scss */
.challenge, #validation, #valuation, #traction, #scaling, #innovation {
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
}
/* line 525, ../scss/screen.scss */
.challenge .challenge-contents, #validation .challenge-contents, #valuation .challenge-contents, #traction .challenge-contents, #scaling .challenge-contents, #innovation .challenge-contents {
  overflow: hidden;
  max-width: 1280px;
  padding: 60px 3.90625%;
  margin: 0 auto;
}
@media only screen and (min-width: 700px) {
  /* line 525, ../scss/screen.scss */
  .challenge .challenge-contents, #validation .challenge-contents, #valuation .challenge-contents, #traction .challenge-contents, #scaling .challenge-contents, #innovation .challenge-contents {
    padding: 0;
  }
}
/* line 536, ../scss/screen.scss */
.challenge p, #validation p, #valuation p, #traction p, #scaling p, #innovation p {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.666666667;
}
/* line 542, ../scss/screen.scss */
.challenge a, #validation a, #valuation a, #traction a, #scaling a, #innovation a {
  color: inherit;
  text-decoration: underline;
}

@media only screen and (min-width: 700px) {
  /* line 551, ../scss/screen.scss */
  .challenge-contents p {
    padding-right: 33.59375%;
    padding-left: 33.59375%;
  }
}
/* line 558, ../scss/screen.scss */
#validation {
  color: #c4ffee;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  /* line 558, ../scss/screen.scss */
  #validation {
    padding-top: 135px;
    padding-bottom: 330px;
  }
}
@media only screen and (max-width: 700px) {
  /* line 558, ../scss/screen.scss */
  #validation {
    color: #e8fff8;
  }
}

/* line 572, ../scss/screen.scss */
.validation-bg {
  background-image: url("../img/validation-large.png");
}
@media only screen and (max-width: 700px) {
  /* line 572, ../scss/screen.scss */
  .validation-bg {
    background-position: 70% top !important;
  }
}

/* line 578, ../scss/screen.scss */
#valuation {
  color: #c1e7ff;
  text-align: center;
}
/* line 583, ../scss/screen.scss */
#valuation a:hover {
  color: #fff;
}
@media only screen and (min-width: 700px) {
  /* line 578, ../scss/screen.scss */
  #valuation {
    padding-top: 135px;
    padding-bottom: 360px;
  }
}

/* line 590, ../scss/screen.scss */
.valuation-bg {
  background-image: url("../img/valuation.png");
}

/* line 596, ../scss/screen.scss */
#traction {
  color: #ddd;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  /* line 596, ../scss/screen.scss */
  #traction {
    padding-top: 135px;
    padding-bottom: 360px;
  }
}

/* line 606, ../scss/screen.scss */
.traction-bg {
  background-image: url("../img/traction.png");
}

/* line 612, ../scss/screen.scss */
#scaling {
  color: #d8e9ff;
  text-align: center;
}
/* line 616, ../scss/screen.scss */
#scaling a:hover {
  color: #fff;
}
@media only screen and (min-width: 700px) {
  /* line 612, ../scss/screen.scss */
  #scaling {
    padding-top: 135px;
    padding-bottom: 360px;
  }
}

/* line 623, ../scss/screen.scss */
.scaling-bg {
  background-image: url("../img/scaling.jpg");
}
@media only screen and (max-width: 700px) {
  /* line 623, ../scss/screen.scss */
  .scaling-bg {
    background-position: center center !important;
  }
}

/* line 630, ../scss/screen.scss */
#innovation {
  color: #000;
  text-align: center;
}
/* line 635, ../scss/screen.scss */
#innovation a:hover {
  color: #ccc;
}
@media only screen and (min-width: 700px) {
  /* line 630, ../scss/screen.scss */
  #innovation {
    padding-top: 120px;
    padding-bottom: 375px;
  }
}

@media only screen and (max-width: 600px) {
  /* line 643, ../scss/screen.scss */
  .innovation-bg {
    background-image: url("../img/innovation-small.jpg");
  }
}
@media only screen and (min-width: 600px) {
  /* line 643, ../scss/screen.scss */
  .innovation-bg {
    background-image: url("../img/innovation.png");
  }
}

/* line 654, ../scss/screen.scss */
.tactic {
  float: left;
  width: 100%;
  padding: 60px 0;
  color: #191919;
  line-height: 1.875;
  background-color: #fff;
}
@media only screen and (min-width: 600px) {
  /* line 654, ../scss/screen.scss */
  .tactic {
    float: left;
    width: 100%;
    padding: 105px 5.59375%;
    color: #191919;
    line-height: 1.875;
    background-color: #fff;
  }
}
@media only screen and (min-width: 800px) {
  /* line 654, ../scss/screen.scss */
  .tactic {
    float: left;
    width: 100%;
    padding: 105px 13.59375%;
    color: #191919;
    line-height: 1.875;
    background-color: #fff;
  }
}
/* line 680, ../scss/screen.scss */
.tactic a {
  text-decoration: underline;
}

/* line 682, ../scss/screen.scss */
.tactic-description {
  margin: 0 auto;
  width: 75%;
}

/* line 683, ../scss/screen.scss */
.client-link {
  display: block;
  margin: 30px auto 0;
  width: 75%;
}

@media only screen and (min-width: 600px) {
  /* line 687, ../scss/screen.scss */
  .tactic-description {
    width: 58.3870968%;
    float: left;
  }

  /* line 691, ../scss/screen.scss */
  .client-link {
    width: 19.3548387%;
    margin-top: 0;
    float: right;
  }
}
@media only screen and (min-width: 800px) {
  /* line 699, ../scss/screen.scss */
  .tactic-description {
    width: 48.3870968%;
  }

  /* line 700, ../scss/screen.scss */
  .client-link {
    width: 19.3548387%;
    margin-top: 0;
  }
}
/* line 707, ../scss/screen.scss */
footer {
  float: left;
  width: 100%;
  padding: 60px 0;
  line-height: 1.875;
  background-color: #222;
}
@media only screen and (min-width: 700px) {
  /* line 707, ../scss/screen.scss */
  footer {
    padding: 115px  13.671875%;
  }
}
/* line 718, ../scss/screen.scss */
footer .cta-button {
  margin-top: 15px;
}
@media only screen and (max-width: 700px) {
  /* line 720, ../scss/screen.scss */
  footer .cta-button:after {
    content: ".";
  }
}
@media only screen and (min-width: 700px) {
  /* line 721, ../scss/screen.scss */
  footer .cta-button:after {
    content: ", let's change things.";
  }
}

/* line 726, ../scss/screen.scss */
.mission-statement {
  width: 75%;
  margin: 0 auto;
  color: #ccc;
}
@media only screen and (min-width: 700px) {
  /* line 726, ../scss/screen.scss */
  .mission-statement {
    float: left;
    width: 48.3870968%;
    margin: 0;
  }
}

/* line 739, ../scss/screen.scss */
.still-address {
  width: 75%;
  padding: 0;
  margin: 0 auto;
  color: #fff;
  font-size: .875em;
  list-style: none;
}
@media only screen and (min-width: 700px) {
  /* line 739, ../scss/screen.scss */
  .still-address {
    float: right;
    width: 48.3870968%;
    margin: 0;
    margin-top: 15px;
    text-align: right;
  }
}
/* line 755, ../scss/screen.scss */
.still-address .street-adress {
  text-decoration: underline;
}
/* line 757, ../scss/screen.scss */
.still-address p {
  margin: 0;
}
/* line 758, ../scss/screen.scss */
.still-address a {
  color: inherit;
}
/* line 759, ../scss/screen.scss */
.still-address a:hover {
  color: #999;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

/* Parallax Stuff */
/* line 769, ../scss/screen.scss */
.parallax {
  position: relative;
  overflow: hidden;
}

/* line 774, ../scss/screen.scss */
.parallax-bg, .hero-bg, .what-we-do .solve-challenges-bg, .validation-bg, .valuation-bg, .traction-bg, .scaling-bg, .innovation-bg {
  height: 110%;
  width: 100%;
  background-size: cover;
  background-position: top center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
