/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "_default";

// =Mixins //

// Retina Image Mixin
// Usage:  background: url("logo.png") no-repeat;
//         @include image-2x("logo2x.png", 100px, 25px);
//
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    // on retina, use image that's scaled by 2
    background-image: url($image);
    background-size: $width $height;
  }
}


// Typography

*, h3, h4, h5 { font-weight: 200; }

h1 {
    display: block;
    float: left;
    clear: both;
    padding-left: 3.90625%;
    margin-top: 45px;
    text-indent: -9999px;
    @media only screen and (min-width : 700px){ margin-bottom: 145px; }
    @media only screen and (max-width : 700px){ margin-bottom: 115px; }
	
    a {
      display: block;
      height: 22px;
      width: 132px;
      background: url('../img/word-mark.png') no-repeat;
      @include image-2x("/img/word-mark2x.png", 132px, 22px);
    }
}   
  
h2 { 
    margin-top: 0;
    font-family: "freight-display-pro", serif;
    font-weight: 300;
    letter-spacing: 1px;
	@media only screen and (min-width : 700px){ font-size: 2.125em;  }
	@media only screen and (max-width : 700px){ font-size: 2.125em; }
	
    
    .motto & { 
      margin-bottom: 145px;
      color: #fff; 
    }
    
    .brag & {
      margin-bottom: 45px;
      color: #fff;
    }
    
    .demo-reel & { 
        margin-bottom: 40px;
        color: #191919; 
    }
    
    .what-we-do & {
        
        @media only screen and (min-width : 700px){
          float: right;
          width: 56.25%;
        }
    }
    
    .our-process & {
      margin-bottom: 80px;
      
      @media only screen and (min-width : 700px){
        margin-right: 17.1875%;
        margin-left: 17.1875%;
      }
      
    }
}


h3 { margin: 50px auto; text-indent: -9999px; }

    #validation h3 {
        margin-top: 150px; 
        margin-bottom: 50px;
        width: 186px;
        height: 52px;
        background: url("/img/eurika-logo.png") no-repeat;
        @include image-2x("/img/eurika-logo2x.png", 186px, 52px);
     }
     
     #valuation h3 { 
         margin-top: 100px;
         margin-bottom: 31px;
         width: 170px;
         height: 50px;
         background: url("/img/bazinga-logo.png") no-repeat;
         @include image-2x("/img/bazinga-logo2x.png", 170px, 50px);
      }
      
      #traction h3 { 
          margin-top: 130px;
          margin-bottom: 56px;
          width: 222px;
          height: 48px;
          background: url("/img/mojeh-logo.png") no-repeat;
          @include image-2x("/img/mojeh-logo2x.png", 222px, 48px);
       }
       
       #scaling h3 { 
           margin-top: 160px;
           margin-bottom: 50px;
           width: 248px;
           height: 34px;
           background: url("/img/avigilon-logo.png") no-repeat;
           @include image-2x("/img/avigilon-logo2x.png", 248px, 34px);
        }
        
        #innovation h3 { 
            margin-top: 100px;
            margin-bottom: 45px;
            width: 275px;
            height: 39px;
            background: url("/img/mclaren-logo.png") no-repeat;
            @include image-2x("/img/mclaren-logo2x.png", 275px, 39px);
         }
     

    
h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-family: "freight-display-pro", serif;
    font-size: 1.875em;
    
    .underline {
      display: block;
      width: 60px;
      height: 1px;
      margin: 0 auto;
      background-color: #fff;
    }
    
    #innovation & {
      color: #000;
      
      .underline { background-color: #000; }
    }
}    

    






/* Global */
.slide {
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
}

  .slide-contents {
    overflow: hidden;
    max-width: 1280px;
    padding: 60px 3.90625%;
    margin: 0 auto;
    
    p {
      margin: 0;
      font-size: 1.125em;
      line-height: 1.666666667;
    }
  }

  
@media only screen and (min-width : 700px) {
  .slide-contents { padding: 0; }
  
  .slide-contents p {
    padding-right: 10%; 
    padding-left: 10%; 
  }
}

@media only screen 
and (min-width : 1100px) {
  .slide-contents p {
    padding-right: 30.078125%; 
    padding-left: 30.078125%; 
  }
}
  
.caption {
  margin-bottom: 30px;
  color: #e8e8e8;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75em;
  width: 100%;
}  
    

.cta-button {
  display: inline-block;
  padding: 15px 30px 13px;
  border: 2px solid #fff;
  
  color: #fff;
  font-family: "freight-text-pro", serif;
  text-decoration: none;
  
  @media only screen and (max-width : 700px) { margin-bottom: 60px; }
  @media only screen and (min-width : 700px) { margin-bottom: 90px; }
}

.parallax {
    @media only screen and (min-width : 700px) { 
  		  background-size: 150%;
	}
    @media only screen and (max-width : 700px) { 
    	 background-size: cover;
    	 height: 100%;
		 background-position: left bottom !important;
    }
}



// Header
/////////////////
header {
  @extend .slide;
  background-image: url('../img/mclaren-tech-centre.jpg'); 
  background-size: 150%;
}


.motto { 
  float: left; 
}

.logo { 
  margin-bottom: 45px;
}

header .caption {
  float: left;
}    

@media only screen 
and (min-width : 700px) {
  .motto.slide-contents {
    width: 71.296%;
  	margin: 0 9% 0 20.703125%;
  }
}  

@media only screen 
and (max-width : 700px) {
  .motto {
	padding-top: 0;
  	padding-bottom: 0;
	}
  .motto img { display: none; }
  .motto h2 { margin-bottom: 120px; }
}

// Brag
/////////////////
.brag {
  @extend .slide;
  color: #a33e1d;
  text-align: center;
  background-color: #ff6633;
}

  @media only screen and (min-width : 700px) {
    
    .slide-contents {
      margin-top: 165px;
      margin-bottom: 90px;
    }
    
    .brag p {
      margin-top: 0;
      margin-bottom: 70px;
    }
  }
    




// Client List
/////////////////
.client-list {
  padding: 0;
  list-style: none;
}

  .client-list li {
    margin: 40px 0;
    
    
    @media only screen and (min-width : 700px) {
      display: inline;
      margin: 0 0 0 80px;
    }
    
    @media only screen and (min-width : 900px) {
      margin: 0 0 0 100px;
    }
  }

  .client-list li:first-child { margin-left: 0;}   


  

// Demo Reel
/////////////////
.demo-reel {
  @extend .slide;
  background-color: #fff;
  text-align: center;
  @include transition-property(height);
  @include transition-duration(0.5s);
  
  p { color: #a3a3a3; }
  
  .slide-contents {
    
      @media only screen and (min-width : 700px) {
        margin-top: 225px;
        margin-bottom: 225px;
      }
  }
} 
  
  .play-button {
    display: block;
    margin: 0 auto 60px;
    text-indent: -9999px;
    width: 38px;
    height: 47px;
    background: url("/img/play-button.png") no-repeat;
    @include image-2x("/img/play-button2x.png", 38px, 47px);
    
    @media only screen and (min-width : 700px) {
          opacity: 0;
          @include transition-property(opacity);
      @include transition-duration(2s);
    }
    

  }
  
  .player {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

// What We Do
/////////////////
.what-we-do {    
  @extend .slide;
  color: #fff;
  text-align: right;

    
  @media only screen and (min-width : 700px) {
//    .azimuth {
//      margin-top: 135px;
//      margin-right: 13.671875%;
//    }
  }

  @media only screen and (max-width : 700px) { 
      .slide-contents {
        padding-bottom: 0px;
      }
   }
   
   .solve-challenges-bg {
     @extend .parallax-bg;
     background-image: url('../img/what-we-do-bg.png');
   }
     
  p {
      float: right;
      clear: both;
      padding: 0;
      margin: 0;
      margin-bottom: 225px;
      max-width: 390px;
  }

  .caption {
    float: right;
  }
 }   
 
 


    

    
// Our Process
/////////////////
.our-process {
  @extend .slide;
  color: #000;
  text-align: center;
  
  @media only screen and (min-width : 700px) {
    .slide-contents {
      margin-top: 240px;
      margin-bottom: 135px;
    }
  }
}


.process-outline {
  padding: 0;
  margin-bottom: 60px;
  color: #aaa;
  list-style: none;
  text-align: center;
  
  li {
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ccc;
    margin: 0 auto;
    
    @media only screen and (min-width : 600px) {
      width: auto;
      display: inline;
      padding-left: 20px;
      padding-right: 20px;
      border-top: 0;
      border-left: 1px solid #ccc;
    }
    
    @media only screen and (min-width : 700px) {
      padding-left: 40px;
      padding-right: 40px;
    }
    
    @media only screen and (min-width : 900px) {
      padding-left: 60px;
      padding-right: 60px;
    }
    
    &:first-child { border: none; }
  }
  

}



// Challenges
/////////////////
.challenge {
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;

  
  .challenge-contents {
    overflow: hidden;
    max-width: 1280px;
    padding: 60px 3.90625%;
    margin: 0 auto;
    
    @media only screen and (min-width : 700px) {
      padding: 0; 
    }
  }
  
  p {
    margin: 0;
    font-size: 1.125em;
    line-height: 1.666666667;
  }
  
  a {
    color: inherit;
    text-decoration: underline;
  }
}


  
@media only screen and (min-width : 700px) {  
  .challenge-contents p {
    padding-right: 33.59375%; 
    padding-left: 33.59375%; 
  }
}


#validation {
  @extend .challenge;
  color: #fff;
  text-align: center;
  
  @media only screen and (min-width : 700px) {  
	color: #c4ffee;
    padding-top: 140px;
    padding-bottom: 330px;
  }
}

  .validation-bg {
    @extend .parallax-bg;
    background-image: url('../img/validation.png');
  }
    
#valuation {
  @extend .challenge;
  color: #c1e7ff;
  text-align: center;
  
  @media only screen and (min-width : 700px) {  
    padding-top: 171px;
    padding-bottom: 360px;
  }
}

  .valuation-bg {
    @extend .parallax-bg;
    background-image: url('../img/valuation.png');
  }


#traction {
  @extend .challenge;
  color: #fff;
  text-align: center;
  
  @media only screen and (min-width : 700px) {  
    padding-top: 135px;
    padding-bottom: 240px;
  }
}
  .traction-bg {
    @extend .parallax-bg;
    background-image: url('../img/traction.png');
  }


#scaling {
  @extend .challenge;
  color: #fff;
  text-align: center;
  
  @media only screen and (min-width : 700px) {  
    padding-top: 140px;
    padding-bottom: 210px;
  }
}
  .scaling-bg {
     @extend .parallax-bg;
     background-image: url('../img/scaling.png');
  }


#innovation {
  @extend .challenge;
  color: #000;
  text-align: center;
  
  @media only screen and (min-width : 700px) {  
    padding-top: 130px;
    padding-bottom: 380px;
  }
}

  .innovation-bg {
     @extend .parallax-bg;
     background-image: url('../img/innovation.png');
  }
  





.tactic {
    float: left;
    width: 100%;
    padding: 60px 0;
    color: #191919;
    line-height: 1.875;
    background-color: #fff;
    
    @media only screen and (min-width : 600px) {
      float: left;
      width: 100%;
      padding: 105px 5.59375%;
      color: #191919;
      line-height: 1.875;
      background-color: #fff;
    }  
    
    @media only screen and (min-width : 800px) {
      float: left;
      width: 100%;
      padding: 105px 13.59375%;
      color: #191919;
      line-height: 1.875;
      background-color: #fff;
    }
    
    a { text-decoration: underline;}
}
    .tactic-description { margin: 0 auto; width: 75%; }
    .client-link { display: block; margin: 30px auto 0; width: 75%; }


@media only screen and (min-width : 600px) {
  .tactic-description { 
    width: 58.3870968%; 
    float: left;
  }
  .client-link { 
    width: 19.3548387%; 
    margin-top: 0;
    float: right;
  }
}    

@media only screen and (min-width : 800px) {
  .tactic-description { width: 48.3870968%; }
  .client-link { width: 19.3548387%; margin-top: 0; }
}



// Footer
/////////////////
footer {
  float: left;
  width: 100%;
  padding: 60px 0;
  line-height: 1.875;
  background-color: #222;
  
  @media only screen and (min-width : 700px) {
    padding: 115px  13.671875%;
  }
  
  .cta-button {
    margin-top: 15px;
  }
}

  .mission-statement {
    width: 75%;
    margin: 0 auto;
    color: #ccc;
    
    @media only screen and (min-width : 700px) {
      float: left;
      width: 48.3870968%;
      margin: 0;
    }
  }


  .still-address {
    width: 75%;
    padding: 0;
    margin: 0 auto;
    color: #fff;
    font-size: .875em;
    list-style: none;
    
    @media only screen and (min-width : 700px) {
      float: right;
      width: 48.3870968%;
      margin: 0;
      margin-top: 15px;
      text-align: right;
    }
    
    .street-adress { text-decoration: underline; }
    
    p { margin: 0;}
    a { color: inherit; }
  }



/* Parallax Stuff */
.parallax {
  position: relative;
  overflow: hidden;
}

  .parallax-bg {
    height: 150%;
    width: 100%;
    background-size: cover;
    background-position: top center;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }